{
  "ecmaFeatures": {
      "blockBindings": true,
      "forOf": true,
      "jsx": true,
      "arrowFunctions": true,
      "destructuring": true,
      "modules": true,
      "spread": true,
      
  }
}
